.weather_block_menu_list {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    
}

.weather_block_menu_item { 
    text-align: center;
    border-top: 1px solid black;
    width: 100px;
    height: 43px;
    font-size: 18px;
    line-height: 43px;
    cursor: pointer;
}

.link {
    color: black;
    text-decoration: none;
    display: block;
}

.weather_block_menu_item:not(.menu_active):hover {
    background-color: grey;
    color: white;
}

.menu_details {
    border-right: 1px solid black;
    border-left: 1px solid black;
}